.service-card {
  &__inner {
    display: flex;
    align-items: center;
    gap: fluid(50, 30);

    @include tablet {
      flex-direction: column;
    }
  }

  &__content {
    max-width: fluid(773, 358);
    width: 100%;
  }

  &__link {
    padding-bottom: fluid-to-laptop(20, 16);
  }

  &__text {
    color: var(--color-gray-50);
  }

  &__description {
    padding-bottom: fluid(50, 30);
  }

  &__highlights {
    &-title {
      font-size: inherit;
      padding-bottom: fluid-to-laptop(20, 16);
    }
    &-list {
      display: grid;
      row-gap: 10px;

      @include mobile {
        row-gap: 8px;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      column-gap: 10px;
      border: var(--border);
      border-radius: fluid(12, 8);
      padding-block: fluid(18, 14);
      padding-inline: fluid(20, 14);
      text-transform: uppercase;

      @include mobile {
        column-gap: 4px;
      }
    }
  }

  &__image {
    width: fluid(773, 358);

    @include mobile {
      order: -1;
    }

    img {
      border-radius: 0 0 0 100px;
    }
  }
}